{% extends parent_template|default:'user/base_user.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mb-4">

    <div class="card-body">
        {% if validlink %}
            <div class="small text-muted">Enter a password bellow:</div>
            <br>
            <br>

            <form action="{% url 'dh-auth:password_reset_confirm' %}"
                  method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit">Save New Password</button>
            </form>
        {% else %}
             <div class="small text-muted">Link no longer valid</div>
        <br>
             <div class="small text-muted">Request a new link: <a href="{% url 'dj-auth:password_reset' %}">Here</a> </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
