{% extends parent_template|default:'user/base_user.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mb-4">

    <div class="card-body">
        <div class="small text-muted">Password Reset</div>
        <br>
        <br>
        <form action="{% url 'dj-auth:password_reset' %}"
              method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">Reset My Password</button>
        </form>

    </div>
</div>
{% endblock content %}