{% extends parent_template|default:'blog/blog_base.html' %}
{% block content %}
<body>
<div class="card mb-4">
    <h3>{{category.title|title}}</h3>
</div>

{% for post in post_list %}

<div class="card mb-4">
    {% if post.image %}
    <img class="card-body profile-card pt-4 d-flex flex-column align-items-center" src="{{post.image.url}}" alt="..." />
    {% endif %}
    <div class="card-body">
        <div class="small text-muted">{{post.date_added|default:'F jS, Y'}}</div>
        <h2 class="card-title">{{post.title|title}}</h2>
        <p class="card-text">{{post.body|truncatewords:150}}</p>
        <a class="btn " href="{{post.get_absolute_url}}">Read more →</a>
    </div>
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">Comments: {{post.answer_set.count}}</a></li>
    <li class="breadcrumb-item">Category: {{post.category}} </li>
    <li class="breadcrumb-item">Date Added: {{post.date_added|default:'F jS, Y'}} </li>

</ol>
<br>
<br>
<br>
<br>



{% endfor %}
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% if previous_page_url %}
                            <li class="page-item "><a class="page-link" href="{{previous_page_url}}" >Newer</a></li>
                            {% endif %}
                            {% if next_page_url %}
                            <li class="page-item"><a class="page-link" href="{{next_page_url}}">Older</a></li>
                            {% endif %}
                        </ul>
                    </nav>
</body>

{% endblock content %}